/* Unit 5 CSS */
body {
margin: 0;
font-family: Times New Roman;
background-color: #f4f4fb;
color: #2e1010;
}
/* HEADER */
.site-header {
text-align: center;
padding: 24px;                    
background-color: #581515;
color: rgb(232, 184, 147);
border-bottom: 6px dashed #24050a; 
}
.subtitle {
margin-top: 8px;                   
opacity: 0.9;
}
.accent {
color: #ff4d6d;
}
/* SECTION TITLE */
.section-title {
text-align: center;
margin: 24px 0;                    
  font-size: 24px;
}
/* FLEXBOX 2x2 GRID */
.show-grid {
display: flex;                    
flex-wrap: wrap;
gap: 20px;
max-width: 1100px;
margin: 0 auto;                   
padding: 20px;                    
}
/* SHOW CARDS */
.show-card {
flex: 1 1 calc(50% - 20px);       
padding: 16px;                    
margin: 0;                        
border: 4px solid rgb(98, 62, 32);           
background-color: rgb(232, 184, 147);
box-sizing: border-box;
}
/* IMAGE HANDLING */
.show-card img {
width: 100%;
height: auto;
display: block;
}
/* CARD TEXT */
.show-info h3 {
margin-top: 12px;
margin-bottom: 6px;
}
.label {
font-weight: bold;
}
/*BORDER STYLES */
.card-one {
border-top-style: dotted;
border-right-style: dashed;
border-bottom-style: solid;
border-left-style: double;
}
.card-two {
border-top-style: double;
border-right-style: solid;
border-bottom-style: dashed;
border-left-style: dotted;
}
.card-three {
border-top-style: dashed;
border-right-style: dotted;
border-bottom-style: double;
border-left-style: solid;
}
.card-four {
border-top-style: solid;
border-right-style: double;
border-bottom-style: dotted;
border-left-style: dashed;
}
